<h1>Sales [for debug only]</h1>
<div [ngStyle]="{ 'display': isLoading ? 'block' : 'none' }">
    <img class="center" src={{imgSrc}} />
</div>
<div [ngStyle]="{ 'visibility': isLoading ? 'hidden' : 'visible' }">
    <p *ngIf="sales == null || sales.length == 0">
        No sales found.
    </p>
    <div>
        <button class="btn btn-sm btn-primary" (click)="addSale()">Add sale</button>
    </div>
    <table [ngStyle]="{ 'visibility': sales != null && sales.length > 0 ? 'visible' : 'hidden' }" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Amount, $</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of sales; let idx = index">
                <ng-template [ngTemplateOutlet]="loadTemplate(sale)" [ngTemplateOutletContext]="{ idx:idx+1, sale:sale}">
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>

<!--Read-only template-->
<ng-template #readOnlyTemplate let-idx="idx" let-sale="sale">
    <td>{{idx}}</td>
    <td>{{sale.date}}</td>
    <td>{{sale.amount}}</td>
    <td>
        <div>
            <button class="btn btn-sm btn-warning" (click)="editSale(sale)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteSale(sale.id)">Remove</button>
        </div>
    </td>
</ng-template>

<!--Template for editing-->
<ng-template #editTemplate let-idx="idx">
    <td>{{idx}}</td>
    <td>
        <input type="date" [(ngModel)]="editedSale.date" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="editedSale.amount" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="save()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>