.chart-container {
    width: 1200px;
}

.controls-container {
    display: block;
    text-align: start;
}

.control-item {
    display: inline-block;
    width: auto;
    padding: 10px 2px 0 2px;
    font-size: 14px;
}

.text-input {
    padding: 0 5px;
}

label {
    padding: 10px 5px;
}

.btn-reset {
    border-radius: 3px;
    border-width: 1px;
    padding: 2px 5px;
    margin-left: 5px;
}