<div>
    <div class="controls-container">
        <div class="control-item">
            <label>Time Period:</label>
            <select name="scale-select">
                <option value="0">Quarter</option>
                <option value="1">Month</option>
                <option value="2">Week</option>
                <option value="3">Day</option>
            </select>
        </div>
        <div class="control-item">
            <label>Start Date:</label>
            <input class="text-input" type="text" placeholder="01/09/2009">
        </div>
        <div class="control-item">
            <label>End Date:</label>
            <input class="text-input" type="text" placeholder="09/16/2014">
        </div>
        <div class="control-item">
            <button>Reset Zoom</button>
        </div>
    </div>
    <div class="chart-container">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType" [plugins]="barChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>