html,
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    width: 100%;
}

main {
    display: flex;
    top: 55px;
    justify-content: center;
    position: relative;
    padding-bottom: 55px;
}